@model List<Car>
@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to AutoTracker</h1>
<div>

    <div class="card" style="width:auto">

        <div class="card-body">
            @foreach (var car in Model)
            {
                <h5 class="card-title"><a href="/Cars/Car/@car.ID">@car.Make @car.Model</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">Maintenance History</h6>
                <p class="card-text">You have logged the following maintenance in AutoTracker</p>
                <ul class="list-group list-group-flush">
                    @foreach (var main in @ViewBag.maintenance)
                    {
                        <li class="list-group-item">car id: @main.CarID</li>
                        <li class="list-group-item">Maintenance type: @main.MaintenanceTypeID</li>
                        <li class="list-group-item"> cost: @main.MaintenanceCost</li>
                    }
                </ul>

            }



            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            
        </div>
    </div>
</div>






<a href="/Cars/Add">Add A Car</a>

<h1>My Cars</h1>
@foreach (var car in Model)
{

<p>
    <a href="/Cars/Car/@car.ID">@car.Make @car.Model</a>
    -
    <a href="/Maintenance/Add/@car.ID">Add Maintenance</a>
    -
    <a href="/Mods/Add/@car.ID">Add Mods</a>


</p>
}


<h1>
    Maintenances
</h1>



@foreach (var main in @ViewBag.maintenance)
{
    <p>
        car id: @main.CarID
        Maintenance type: @main.MaintenanceTypeID
        cost: @main.MaintenanceCost

    </p>
}


<h1>
    mods
</h1>



@foreach (var mod in @ViewBag.mods)
{
    <p>
        car id: @mod.CarID
        Name: @mod.ModName

    </p>
}